
@{
    ViewData["Title"] = "Digital Assembly Cards Platform";
}
<div class="row">
    <div class="col-md-12">
        <h1>Digital Assembly Cards Platform </h1>
        <h2>Main Functionalities: </h2>
        <ul>
            <li>Digital Assembly Cards searching, viewing and downloading</li>
            <li>Creating Digital Assembly Cards</li>
            <li>Sharing Digital Assembly Cards via email</li>
        </ul>
        <h2>System authors: </h2>
        <p>Barbara Raciniewska, Gdańsk University of Technology</p>
        <p>Jakub Daleki, Gdańsk University of Technology</p>

    </div>
</div>
