@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{ ViewData["Title"] = "Admin Console"; }
<h2>Configure Platform data</h2>
<p> Choose platform to configure</p>
<br />
<input type="button" value="Platform No. 1" />
<br /><br />
<input type="button" value="Platform No. 2" />
<br /><br />
<input type="button" value="Platform No. 3" />
<br /><br />
<input type="button" value="Platform No. 4" />
<br /><br />
<input type="button" value="Platform No. 5" />