@{ ViewData["Title"] = "Contact"; }
<h2>@ViewData["Title"] us</h2>
<!--<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>-->

<address>
    <strong>Barbara Raciniewska:</strong><br />
    <a href="mailto:raciniewska.barbara@gmail.com">raciniewska.barbara@gmail.com</a><br />
    <p>783-391-944</p>
    <strong>Jakub Daleki:</strong> <br />
    <a href="mailto:example@example.com">example@example.com</a>
    <p>XXX-XXX-XXX</p>
</address>
