@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{ ViewData["Title"] = "Platform Configuration"; }
<h2> Choose data visible on the platform No. 1</h2>
<form>
    <input type="checkbox" id="" name="" value="Sort">
    <label for="vehicle1">Sort:</label><br>
    <input type="checkbox" id="" name="" value="KNNR">
    <label for="vehicle2">KNNR:</label><br>
    <input type="checkbox" id="" name="" value="PrNr">
    <label for="vehicle3">PrNrt</label><br>
    <input type="checkbox" id="" name="" value="PIN">
    <label for="vehicle3">PIN</label><br>
    <input type="checkbox" id="" name="" value="VAM">
    <label for="vehicle3">VAM</label><br>
    <input type="checkbox" id="" name="" value="TSV">
    <label for="vehicle3">TSV</label><br>
    <input type="checkbox" id="" name="" value="mainLine">
    <label for="vehicle3">Main Line:</label><br><br>
    <input type="submit" value="Submit">
</form>