@using Microsoft.AspNetCore.Builder
@model List<CardsResource>

@{ ViewData["Title"] = "Search";
}

    <h2>Search</h2>

<form asp-controller="Home" asp-action="Filter">
    <p>
        KNNR: <input type="text" name="SearchKNNR">
        Employee Lastname: <input type="text" name="SearchEL">
        Sort No.: <input type="text" name="SearchSort">
        <input type="submit" asp-controller="Home" asp-action="Search" />
    </p>
</form>
    <div class="row">
        <div class="col-md-12">

            <!--<ul>-->
            @if (Model != null)
            {
            @foreach (var resource in @Model)
            {
            <hr>
            <p> @resource.AssemblyCard.KNNR - @resource.AssemblyCard.Sort - @resource.AssemblyCard.EmployeeLN</p>
            <p><a asp-controller="Home" asp-action="Edit" asp-route-id=@resource.Id>EDIT</a>
            |   <a  asp-controller="Home" asp-action="Delete" asp-route-id=@resource.Id>DELETE</a>  
                <form asp-controller="Home" asp-action="Send"  asp-route-id=@resource.Id>
                    |   <a asp-controller="Home" asp-action="Send"  asp-route-id=@resource.Id>SEND AS EMAIL</a> Type your email here: <input type="text" name="mail" />
                </form>
</p>
            <br>}}
            <!--</ul>-->
        </div>
    </div>
